In [1]:
#data encoding

#1.One hot encoding

import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
#sample data

df=pd.DataFrame({
    'color':['red','green','bluee','red','green','bluee'],

})
df

   color
0    red
1  green
2  bluee
3    red
4  green
5  bluee

In [5]:
#create instance of OneHotEncoder

encoder=OneHotEncoder()

In [11]:
#fit and transform the data
encode_data=encoder.fit_transform(df[['color']]).toarray()
#sort in alphbates order

In [12]:
encode_data

array([[0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [15]:
encode_df=pd.DataFrame(encode_data,columns=encoder.get_feature_names_out())
encode_df

   color_bluee  color_green  color_red
0          0.0          0.0        1.0
1          0.0          1.0        0.0
2          1.0          0.0        0.0
3          0.0          0.0        1.0
4          0.0          1.0        0.0
5          1.0          0.0        0.0

In [ ]:
encoder.transform