In [2]:
#Handling Imbalance Dataset

#2 techniques to handle imbalance dataset
#1. upsampling
#2. downsampling

import pandas as pd
import numpy as np

np.random.seed(42)

n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class_1=n_sample-n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
#create dataframe with imbalance dataset

class_0=pd.DataFrame({
    #generates numbers around 0 (mean=0) with standard deviation 1.
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    #Creates a list of 0s repeated n_class_0 times.
    'target':[0]* n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=1,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=1,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [5]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df

     feature_1  feature_2  target
0     0.496714   0.368673       0
1    -0.138264  -0.393339       0
2     0.647689   0.028745       0
3     1.523030   1.278452       0
4    -0.234153   0.191099       0
..         ...        ...     ...
995   0.629989   2.070150       1
996   0.741204   0.973479       1
997   2.598647   0.118125       1
998   1.560919   0.836933       1
999   0.704520   0.255097       1

[1000 rows x 3 columns]

In [6]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [8]:
#updampling
#try to increate the number of samples in minority class
#increse 100 samples in class 1 around 900

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [ ]:
from sklearn.utils import resample

df_minority_upsampled = resample(
    df_minority,#data we want to upsample
    replace=True, #same sample to appre multiple time
    n_samples=len(df_majority),# how many sample we want in new dataset
    random_state=42 #for reproduction (to get same result every time we run the code)
)

In [ ]:
df_minority_upsampled.shape #df_minority_upsampled is upsampled dataframe where we updample the minority values

(900, 3)

In [13]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.775311   2.261922       1
992   0.563614   2.188913       1
914   0.731469  -0.801058       1
971   0.785079  -1.940389       1
960   0.865691   0.945106       1

In [ ]:
df_upsampled=pd.concat([df_majority, df_minority_upsampled])#conctaenate majority and upsampled minority class

In [18]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [19]:
#downsampling
#try to decrease the number of samples in majority class


df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [21]:
df_majority_downsampled= resample(
    df_majority,#data we want to downsample
    replace=False,#sample without replacement
    n_samples=len(df_minority),#how many sample we want in new dataset
    random_state=42 #for reproduction (to get same result every time we run the code)
)

In [22]:
df_majority_downsampled.shape

(100, 3)

In [23]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [24]:
#2nd example 

n_sample=2000
class_ratio=0.7
n_class_0=int(n_sample*class_ratio)
n_class_1=n_sample-n_class_0

In [25]:
n_class_0,n_class_1

(1400, 600)

In [26]:
#create dataframe with imbalance dataset

class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'targer':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [27]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df

      feature_1  feature_2  targer  target
0     -0.675178   0.491429     0.0     NaN
1     -0.144519   0.569760     0.0     NaN
2     -0.792420   0.195482     0.0     NaN
3     -0.307962  -0.098845     0.0     NaN
4     -1.893615   0.435975     0.0     NaN
...         ...        ...     ...     ...
1995   0.803155   0.171469     NaN     1.0
1996   0.239628   1.152648     NaN     1.0
1997   0.733054  -1.217404     NaN     1.0
1998  -1.892762   0.467950     NaN     1.0
1999   0.311491  -1.170281     NaN     1.0

[2000 rows x 4 columns]

In [28]:
df['target'].value_counts()

target
1.0    600
Name: count, dtype: int64

In [29]:
df['majority']=df[df['target']==0]
df['minority']=df[df['target']==1]

ValueError: Cannot set a DataFrame with multiple columns to the single column majority